node_modules
out
dist
release
extension/node_modules
extension/dist
extension/artifacts
.idea
*.log
*.local
.DS_Store
.dart_tool/
.flutter-plugins-dependencies
.pub/
.pub-cache/
coverage/
flutter_build/
/build/*
!/build/icon.png
/build/windows/
