node_modules
dist
extension/node_modules
extension/dist
extension/artifacts
artifacts/
.idea
*.log
*.local
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
coverage/
flutter_build/
/build/*
